RewriteEngine On

RewriteRule ^data(/.*)?$ - [F,L]

RewriteRule ^uplink/(.+)\.m3u8$ uplink/stream.php?id=$1&fmt=m3u8 [L,QSA]
RewriteRule ^uplink/(.+)\.mpd$  uplink/stream.php?id=$1&fmt=mpd [L,QSA]

RewriteRule ^uplink/(.+)\.json$ uplink/license.php?id=$1 [L,QSA]

RewriteRule ^playlist\.m3u$ playlist.php [L,QSA]
RewriteRule ^playlist\.m3u8$ playlist.php [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L]

DirectoryIndex index.html index.php
